/* pagina */
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee9e9;
    font-size:x-large;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* fim pagina */
/* cabeçalho */
header {
    background-color: rgb(255, 255, 255);
    color: #0e3960;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.4s ease;
}

#header.ativo{
    top: -95px;
    opacity: 0;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-img{
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    width: 140px;
    float: left;
}
#nav1{
    margin-left: 8%;
    display: flex;
    justify-content: center;
}
#login{
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
}
#user-div{
    display: flex;
    align-items: center;
    list-style: none;
}
#user{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    height: 30px;
    margin-top: 7px;
    align-self: center;
}
#opt-nome{
    display: none;
}
#opt-sair{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}
header nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 3vw;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:#297caf;
}


#checkbox{
    display: none;
}

#botao{
    display: none;
    font-size: 40px;
    color:#00304D;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

#nav2{ 
    display: none;
    position: absolute;
    background-color: rgba(216, 219, 220, 0.707);
    top: 70px;
    right: 0;
    width: 200px;
    z-index: 1; 
    border: solid 5px rgba(217, 217, 217, 0.886);
}


/* fim cabeçalho */
/* seção 1 */
#secao1{
    background: url('../img/pool.jpg')
    no-repeat center center;
    background-size: cover;
    height: 90vh;
    display: flow-root;
    width: 100%;
}
#secao1 h1{
    text-align: left;
    color: #fff;;
    text-shadow: 4px 8px 30px rgb(44, 44, 44);
    font-size: 93px;
    font-family: "Cinzel", serif;
    font-weight: 400;
    margin-top: 200px;
    margin-bottom: 0;
    padding-left: 185px;
   
}
#secao1 p{
    color: #fff;
    text-align: left;
    text-shadow: 2px 5px 15px rgb(44, 44, 44);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 38px;
    animation: showup 5s forwards;
    padding-left: 327px;
}
@keyframes showup {
    0% {opacity:0;}
    30% {opacity:0;}
    50% {opacity:1;}

}

.logo-container {
  position: relative;
  height: 20%;
  
  &:before {
    content:  "";
    position: absolute;
    left: 4.55%;
    width:    54%; 
    height:   4px;
    background-color:#1a4a67;
    transform-origin: center center;
    transform: scaleX(0);
    
    animation: line-animation 3s ease forwards; 
  }
  
  h1#page-logo {
    
    animation: clip-path-reveal-1 3s ease forwards; 
  }
}

@keyframes line-animation {
  0% { transform: scaleX(0); }
  15% { transform: scaleX(0); }
  20%, 25% { transform: scaleX(0.7); top: 10px; } 
  50% { transform: scaleX(0.7); top: calc(100% - 5px); } 
  70% { transform: scaleX(0.35); top: calc(100% - 5px); }
  80%, 100% { transform: scaleX(0.35); top: calc(100% - 5px); }
}

@keyframes clip-path-reveal-1 {
  0%, 25% { clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0); }
  50%, 100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } 
}



/* fim seção 1 */
/* secão 2 */

/* sobre */
#secao2{
    margin-top: 100px;
}
#secao2 p{
    text-align: justify;
}
/* .imgSobre {
    background: url('../img/sobre.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 1300px;
    position: relative;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 90%;
    min-width: 600px;
} */

.sobre{
    border-left: 5px solid #00304D;
    padding: 13px;
    margin: 30px auto;
    border-radius: 5px;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}
.politica {
    background: #ffffffcb;
    border-left: 5px solid #00304D;
    padding: 20px;
    margin: 45px auto;
    border-radius: 8px;
    width: 68%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}
.politica h2{
    font-size: 40px;
    color: #00304D;
    padding: 8px;
}
.politica ul li{
    padding: 5px;
    font-size: 23px;
    list-style-type: square;
    list-style-position: inside;
    color: #4b4a4a;
}
.sobre p {
    margin-top: 3px;
    font-size: 26px;
}
/* fim sobre */
/* recursos */
#recursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    min-width: 600px;
    width: 1470px;
    margin: auto;
    gap: 15px;
    margin-top: 150px;
}
.recurso{
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color:white;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-radius: 20px;
    text-align: center;
    transition: top ease 0.5s;
    
}
.fa-solid{
    font-size: 80px;
    margin-top: 12%;
    margin-bottom: 6%;
    position: absolute;
}
.recurso p{
    margin-top: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: rgb(228, 235, 249);
}
.card {
    width: 150px;
    height:150px;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: rgb(228, 235, 249);
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        transform: translateY(-20px);

        &:before {
            opacity: 1;
        }

        .info {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
    }

    .fa-table-tennis-paddle-ball {
        position: absolute;
    }

    .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;
}
    .info p{
        font-size: 23px;
        margin-top: 8px;
    }
}

/* fim recursos */
/* fim seção 2 */
/* seção 3 */
#secao3 h2{
    text-align: center;
    color: rgb(8, 25, 66);
    font-size: 54px;
    margin-top: 90px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
}

.carossel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imgCarossel {
    display: flex;
    transition: transform 0.5s ease;
    object-fit: cover; 
    width: 100%;
}

img {
    width: 100%;
}


button {
    position: absolute;
    top: 50%;
    background-color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 900px;
    color: white;
}
button:hover{
    border: solid rgb(82, 82, 82) 2px;
    transform: scale(1.2);
}
button .bx-chevron{
    position: relative;
}

.anterior {
    left: 10px;
    font-size: 30px;
}

.proximo {
    right: 10px;
    font-size: 30px;
}  
/* fim galeria */
/* fim seção 3 */
/* footer */
footer {
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: white;
    width: 100%;
    color: black;
}

#footer {
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

footer p, footer a {
    font-size: 14px;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #1e90ff;
}

footer a:hover {
    text-decoration: underline;
}


footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}
 
.contato {
    margin-top: 5px;
}
@media (max-width: 600px){
    .sobre p{
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    #nav1{
        display: none;
    }
    nav{
        justify-content:right;
    }
    #user-div{
        margin-right: 20px;
    }
    #opt-sair{
        font-size: 12px;
        width: 30px;
    }
    #botao{
        display: block;
    }
    #checkbox:checked + #botao + #nav2{
        display: block;
    }
    .logo{
        margin-left: 5%;
    }
    #footer {
        display: block;
        overflow-wrap: break-word;
        padding: 25px;
    }
    #footer h2{
        font-size: 24px;
    }
    #footer p{
        font-size: 13px;
    }
    #hotel{
        font-size: 35px;
        margin-top: 20px;
    }
    .flex a{
        margin-top: 9px;
    }
    .flex p{
        margin-bottom: 30px;
    }
    .fa-solid{
        font-size: 55px;
    }
    #secao1{
        height: 75vh;
        
    }
    #secao1 h1{
        font-size: 52px;
        margin-top: 100px;
        padding-left: 35px;
    }
    #secao1 p{
        font-size: 20px;
        padding-left: 127px;
    }

    .sobre {
        width: 300px;
        height: 370px;
        min-width: 45px;
        right: 30px;
    }
    .sobre h1 {
        font-size: 40px;
    }
    .sobre p {
        font-size: 24px;
    }
    #recursos{
        min-width: 60px;
        width: 1470px;
        gap: 15px;
    }
    .recurso{
        width: 130px;
        height: 130px;
        padding: 10px;
    }
    .recurso p{
        font-size: 18px;
    }
    #secao3 h2{
        font-size: 43px;
    }
    .info p{
        font-size: 1px;
    }

    .logo-container {
        position: relative;
        height: 20%;
        
        &:before {
          content:  "";
          position: absolute;
          left: 27%;
          width:    45%; 
          height:   4px;
          background-color:#1a4a67;
          transform-origin: center center;
          transform: scaleX(0);
          
          animation: line-animation 3s ease forwards; 
        }
        
        h1#page-logo {
          
          animation: clip-path-reveal-1 3s ease forwards; 
        }
      }
    @keyframes line-animation {
    0% { transform: scaleX(0); }
    15% { transform: scaleX(0); }
    15%, 20% { transform: scaleX(1.8); top: 0px; } 
    50% { transform: scaleX(1.8); top: calc(100% + 5px); } 
    70% { transform: scaleX(0.9); top: calc(100% + 5px); } 
    80%, 100% { transform: scaleX(0.9); top: calc(100% + 5px); }
    }

    @keyframes clip-path-reveal-1 {
    0%, 20% { clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0); } 
    50%, 100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } 
    }
    .logo-container {
        height: 11%;
    }
    #user{
        font-size: 10px;
    }

}




  
  

