* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee9e9;
}
#coment-h1 {
    text-align: center;
    color: #00304D;
    margin-top: 10px;
    font-size:x-large;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size:x-large;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-collapse: separate;
    border-spacing: 10px;
}
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 15px;
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
.comentarios {
    max-width: 1200px;
    margin: 0 auto;
}
/* cabeçalho */
header {
    background-color: rgb(255, 255, 255);
    color: #0e3960;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-img{
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    width: 140px;
    float: left;
}
#nav1{
    margin-left: 8%;
    display: flex;
    justify-content: center;
}
#login{
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
}
#user-div{
    display: flex;
    align-items: center;
    list-style: none;
}
#user{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    height: 30px;
    margin-top: 7px;
    align-self: center;
}
#opt-nome{
    display: none;
}
#opt-sair{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}
nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 3vw;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:#297caf;
}


#checkbox{
    display: none;
}

#botao{
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

#nav2{ 
    display: none;
    position: absolute;
    background-color: rgba(99, 149, 187, 0.814);
    top: 70px;
    right: 0;
    width: 200px;
    z-index: 1; 
    border: solid 5px rgb(99, 149, 187);
}
/* fim cabeçalho */

/*inicio seção 1*/
.seção-plano {
    padding: 60px 0px; 
}

.tabela-preco-principal {
    display: flex;
    justify-content: space-between;
}

.titulo-preto-wthree {
    font-size: 40px;
    color:#0f2453;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 12px;
}

/*-- quartos & tarifas --*/
.topo-preco {
    text-align: center;
    position: relative;
}
.topo-preco2 {
    text-align: center;
    position: relative;
}
.topo-preco h4 {
    font-size: 1.2em; 
    color: #fff;
    padding: 0.4em 1em;
    background: #0f2453;
    font-weight: 300;
    position: absolute;
    top: 7em;  
    right: 0em;
    margin-top: 98px;
}
.topo-preco2 h4 {
    font-size: 1.2em; 
    color: #fff;
    padding: 0.4em 1em;
    background: #0f2453;
    font-weight: 300;
    position: absolute;
    top: 7em;  
    right: 0em;
    margin-top: 98px;
}
.seleção-preco h3 {
    padding: 0.2em 0em 0em 0em;
    font-size: 1.4em;
    float: left;
    margin-left: 20px;
}
.seleção-preco h3 span {
    color:#297caf;
    font-size: 25px; 
    margin-right: 5px;
}
.fundo-preco {
    background: #fff;
    text-align: center;
    padding: 1em 0em 1em; 
}
.topo-preco img {
    width: 100%;
    height: 270px;
}
.topo-preco2 img {
    width: 100%;
    height: 270px;
}
.seleção-preco {
    padding: 1em 0em;
    text-align: center;
    background: #fff;
    font-family: Arial, sans-serif;
}
.seleção-preco button {
    font-size: 1em; 
    color: #000000;
    display: inline-block;
    padding: 0.5em 2em;
    background: #ffce14;
    border: 2px solid #ecbf11;
    font-family: Arial, sans-serif;
}
.seleção-preco button:hover {
    background: #dcb30f;
}
#reservar-button{
    font-size: 2em; 
    color: #000000;
    padding: 0.5em 2em;
    background: #ffce14;
    text-decoration: none;
    border: 2px solid #ecbf11;
    width: 200px;
    height: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    margin-left: 36%;
    transition: 1s;
}
#reservar-button:hover{
    background: #dcb30f;
}
.card{
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    text-align: justify;
    font-family: Arial, sans-serif;
}
.bloco-preco {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: Arial, sans-serif;
    margin-bottom: 20px; 
}
.bloco-preco:hover {
    transform: scale(1.05);  
}

.coluna.card-preco {
    width: 30%; 
    padding: 0 10px; 
}
#p-dia {
    font-size: 20px;
    font-weight: bold;
}
/* fim da seção 1 */

/* footer */
footer {
    background-color:rgba(99, 149, 187, 1);
    width: 100%;
    color: white;
    margin-top: 60px;
}

#footer {
    justify-content: space-evenly;
    display: flex;
    margin-top: 30px;
    padding-top: 20px;
}

footer h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

footer p, footer a {
    font-size: 14px;
    line-height: 1.5;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 3px;
}

footer a {
    text-decoration: none;
    color: #092c4f;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}
 
.contato {
    margin-top: 5px;
}
@media (max-width: 768px) {
    #user{
        font-size: 10px;
    }
    #nav1{
        display: none;
    }
    #botao{
        display: block;
        color: black;
    }
    #checkbox:checked + #botao + #nav2{
        display: block;
    }
    .logo{
        margin-left: 5%;
    }
    #footer {
        display: block;
        overflow-wrap: break-word;
        padding: 25px;
    }
    #footer h2{
        font-size: 24px;
    }
    #footer p{
        font-size: 13px;
    }
    .tabela-preco-principal {
        flex-direction: column;
        align-items: center;
    }
    
    .coluna.card-preco {
        width: 90%; 
        margin-bottom: 20px;
    }
    
    .titulo-preto-wthree {
        font-size: 28px;
    }
    
    #reservar-button {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }
}