*{
    margin: 0;
}
header {
    background-color: rgb(255, 255, 255);
    color: #0e3960;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-img{
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    width: 140px;
    float: left;
}
#nav1{
    margin-left: 8%;
    display: flex;
    justify-content: center;
}
#login{
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
}
#user-div{
    display: flex;
    align-items: center;
    list-style: none;
}
#user{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    height: 30px;
    margin-top: 7px;
    align-self: center;
}
#opt-nome{
    display: none;
}
#opt-sair{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}
nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 3vw;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:#297caf;
}


#checkbox{
    display: none;
}

#botao{
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

#nav2{ 
    display: none;
    position: absolute;
    background-color: rgba(99, 149, 187, 0.814);
    top: 70px;
    right: 0;
    width: 200px;
    z-index: 1; 
    border: solid 5px rgb(99, 149, 187);
}

#secao1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: #2D4455;
}

#secao1 h1{
    text-align: center;
}

#box-login{
    display: block;
    background-color: rgba(217, 217, 217, 1);
    width: 720px;
    border-radius: 20px;
    height: 450px;
    margin: 0 auto;
}



#box-img-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    margin-left: 4%;
}

#img-login{
    width: 390px;
    height: 390px;
}


/* checkbox */
label.checkbox{
    margin-top: 2px;
}

  .checkbox-wrapper-29 {
    --size: 1rem;
    --background: #fff;
    font-size: var(--size);
  }

  .checkbox-wrapper-29 *,
  .checkbox-wrapper-29 *::after,
  .checkbox-wrapper-29 *::before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-29 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-29 .checkbox__label {
    width: var(--size);
  }

  .checkbox-wrapper-29 .checkbox__label:before {
    content: ' ';
    display: block;
    height: var(--size);
    width: var(--size);
    position: absolute;
    top: calc(var(--size) * 0.125);
    left: 0;
    background: var(--background);  
    background-color: rgba(122, 164, 241, 1);;
  }

  .checkbox-wrapper-29 .checkbox__label:after {
    content: ' ';
    display: block;
    height: var(--size);
    width: var(--size);
    border: 1px solid #484848;
    transition: 200ms;
    position: absolute;
    top: calc(var(--size) * 0.125);
    left: 0;
    background: var(--background);  
}

.checkbox-wrapper-29 .checkbox__label:after {
      
    transition: 100ms ease-in-out;
  }

  .checkbox-wrapper-29 .checkbox__input:checked ~ .checkbox__label:after {
    border-top-style: none; 
    border-right-style: none;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: calc(var(--size) * .5);
    border-color: green;
    background-color: rgba(122, 164, 241, 1);;
    border-width: 2px;
  }


  .checkbox-wrapper-29 .checkbox {
    position: relative;
    display: flex;
    cursor: pointer;
    /* Mobile Safari: */
    -webkit-tap-highlight-color: rgba(0,0,0,0);   
  }

  .checkbox-wrapper-29 .checkbox__label:after:hover,
  .checkbox-wrapper-29 .checkbox__label:after:active {
     border-color: green; 
  }

  .checkbox-wrapper-29 .checkbox__label {
    margin-right: calc(var(--size) * 0.45);
  }
/* fim checkbox */


form{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(122, 164, 241, 1);
    height: 350px;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 4%;
    font-family: Reem Kufi;
}
#forma-pagamento p{
   text-align: start;
   margin-bottom: 10px;
}
h1{
    font-family: Reem Kufi;
    font-size: 40px;
    color: #00304D;
}

h2{
    font-family: Reem Kufi;
    color: #325068;
    font-size: 17px;
    margin: 15px 0;
}

.inserir{
    width: 230px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: rgb(227, 227, 227);
    margin-bottom: 10px;
    padding-left: 16px;
    font-family: Inter;
}

#div-termos{
    margin-top: 10px;
    display: flex;
}

.switch{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}
  
.switch input{ 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.4px;
    bottom: 2.4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider{
    background-color: #2196F3;
}
  
input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before{
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
  
.slider.round{
    border-radius: 34px;
}
  
.slider.round:before{
    border-radius: 50%;
}

#termos{
    font-family: Inter;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 2px;
    font-weight: 500px;
    color: gray;
}

#entrar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 10px;
    font-family: Reem Kufi;
    font-size: 15px;
    transition: background-color 0.2s;
}

#entrar:hover{
    background-color: #92c3e8;
}

.outro{
    font-family: Reem Kufi;
    margin-bottom: 20px;
}

footer{

    background-color:rgba(99, 149, 187, 1);
    color:white;
    text-align: left;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a{
    text-decoration: none;
    margin-top: 5px;
}

.fa-instagram{
    font-size: 40px;
}
.fa-hotel{
    font-size: 45px;
}
.flex{
    display: flex;
}
.flex a, .flex p{
    margin-left: 10px;
    color:white;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    font-size: 25px;
}
.flex p{
    margin-top: 10px;
}

@media (max-width: 768px) {
    #nav1{
        display: none;
    }
    #botao{
        display: block;
    }
    #checkbox:checked + #botao + #nav2{
        display: block;
    }
    .logo{
        margin-left: 50%;
    }
    #img-login{
        width: 0px;
        height: 0px;
    }
    #box-img-login{
        width: 0px;
        height: 0px;
    }
    #box-login{
        width: 350px;
        height: 400px;
    }
    #secao1{
        height: 85vh;
        width: 100%;
    }
    .fa-solid{
        font-size: 55px;
    }
    .recurso p{
        font-size: 18px;
    }
    #footer {
        display: block;
        overflow-wrap: break-word;
        padding: 25px;
    }
    #footer h2{
        font-size: 24px;
    }
    #footer p{
        font-size: 13px;
    }
    #hotel{
        font-size: 35px;
        margin-top: 20px;
    }
    .flex a{
        margin-top: 9px;
    }
    .flex p{
        margin-bottom: 30px;
    }
}
