* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(45, 68, 85, 0.93);
    font-size:x-large;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* cabeçalho */
header {
    background-color: rgb(255, 255, 255);
    color: #0e3960;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 50;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-img{
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    width: 140px;
    float: left;
}
#nav1{
    margin-left: 8%;
    display: flex;
    justify-content: center;
}
#login{
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
}
#user-div{
    display: flex;
    align-items: center;
    list-style: none;
}
#user{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    height: 30px;
    margin-top: 7px;
    align-self: center;
}
#opt-nome{
    display: none;
}
#opt-sair{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}
nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 3vw;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:#297caf;
}


#checkbox{
    display: none;
}

#botao{
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}
/* fim cabeçalho */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 80px;
}

.area-reserva {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.bloco-reserva {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 450px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 8px;
}

form {
    padding: 20px;
    border: 4px solid white; 
    border-radius: 10px; 
    width: 400px;
    display: block;
    background-color: white;
}

label {
    font-size: 15px;
}

select {
    border: 2px solid rgb(180, 180, 180);
    font-size: 17px;
    border-radius: 8px;
    width: 98.2%;
    padding: 6px;
    margin-bottom: 10px;
}

input {
    width: 95%;
    padding: 6px;
    margin-bottom: 10px;
    border: 2px solid rgb(180, 180, 180);
    font-size: 17px;
    border-radius: 8px;
}

#btn-reserva {
    width: 98%;
    background-color: #75B0DD;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: -15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#btn-reserva:hover {
    background-color: #92c3e8;
}

#checkbox{
    display: none;
}

#botao{
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

/* Estilos de "radio" */
.checkbox-wrapper-29 {
    --size: 1rem;
    --background: #fff;
    font-size: var(--size);
}

.checkbox-wrapper-29 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-29 .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 2px;
}

.checkbox-wrapper-29 .checkbox__label {
    position: relative;
    width: var(--size);
    height: var(--size);
    border: 2px solid #484848;
    border-radius: 50%; /* Torna o checkbox redondo, como um radio */
    background: var(--background);
    margin-right: calc(var(--size) * 0.45);
}

.checkbox-wrapper-29 .checkbox__input:checked + .checkbox__label {
    background-color: #0e3960; /* Cor de seleção */
}

.checkbox-wrapper-29 .checkbox__label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--size) * 0.5);
    height: calc(var(--size) * 0.5);
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.checkbox-wrapper-29 .checkbox__input:checked + .checkbox__label:after {
    transform: translate(-50%, -50%) scale(1);
    background: #fff;
}


#forma-pagamento p{
   text-align: start;
   margin-bottom: 10px;
   margin-top: 20px;
}

.outro{
    margin-bottom: 20px;
    margin-top: 15px;
}

.outro a{
    text-decoration: none;
    color: #0f467a;
}

.outro a:hover{
    color: #0f2336; 
}