/* pagina */
*{
    margin: 0;
    padding: 0;
}

body {
    background: #E5E7EA;
    font-size:x-large;
}
/* fim pagina */
/* cabeçalho */
header {
    background-color: rgba(99, 149, 187, 1);
    color:white;
    padding: 10px;
    text-align: center;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}

nav {
    width: 1000px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 16px;
}

nav ul li a {
    color: #D1E5FF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:rgb(185, 185, 185);
}

section{
    height: 220vh;
    margin: 10px;
}
h1{
    color: #1f1f1f;
    font-family: "Reem Kufi", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}
h2{
    color: #2D4455;
    font-family: "Reem Kufi", sans-serif;
    font-size: 60px;
    text-align: center;
}
p{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:450;
    font-style: normal;
    padding: 10px;
    color: #1f1f1f;
}
.fundo-texto{
    background-color: #8EB7EB;
    border-radius: 20px;
    padding: 20px;
    width: 610px;
    height: 435px;
    margin: 0 4vh;
    transition: transform 0.3s ease;
}

.fundo-texto:hover{
    transform: scale(1.1);
    }
.img{
    width: 600px;
    height: 470px;
    margin: 0 4vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.caixa{
    padding: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
    
#estacionamento p{
    margin-top: 10px;
}
.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

