*{
    margin: 0;
    padding: 0;
}

body {
    font-size:x-large;
}
/* fim pagina */
/* cabeçalho */

header {
    background-color: rgb(255, 255, 255);
    color: #0e3960;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.4s ease;
}

#header.ativo{
    top: -95px;
    opacity: 0;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-img{
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    width: 140px;
    float: left;
}
#nav1{
    margin-left: 8%;
    display: flex;
    justify-content: center;
}
#login{
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
}
#user-div{
    display: flex;
    align-items: center;
    list-style: none;
}
#user{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    height: 30px;
    margin-top: 7px;
    align-self: center;
}
#opt-nome{
    display: none;
}
#opt-sair{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}
nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 3vw;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:#297caf;
}


#checkbox{
    display: none;
}

#botao{
    display: none;
    font-size: 40px;
    color:#00304D;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

#nav2{ 
    display: none;
    position: absolute;
    background-color: rgba(216, 219, 220, 0.707);
    top: 70px;
    right: 0;
    width: 200px;
    z-index: 1; 
    border: solid 5px rgba(217, 217, 217, 0.886);
}


/* fim cabeçalho */
.container2 {
    display: flex;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 670px;
    max-width: 100%;
}
.text-section {
    padding: 40px;
    background-color: #fff;
    width: 50%;
}
.text-section h1 {
    margin-top: 150px;
    font-size: 62px;
    color: #00304D;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.text-section h1 .fundo-h1 {
    background-color: #e1edff;
    padding: 0 8px;
    border: #00304D solid 0.1px;
    border-radius: 20px;
}
.text-section p {
    font-size: 26px;
    margin-top: 30px;
    width: 90%;
    text-align: justify;
    color: #555;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}
.image-section {
    width: 50%;
}
.image-section img {
    width: 574px;
    height: 640px;
    margin-top: 30px;
    object-fit: cover;
    border-top-left-radius: 273px;
    border-top-right-radius: 273px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.container_servicos{
    background-color: #2D4455;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.intro{
    width: 35%;
}
.intro h1{
    font-size: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-top: 100px;
}
.intro-p {
    font-size: 1.1em;
    margin-bottom: 50px;
    margin-top: 60px;
    font-size: 20px;
    text-align: justify;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}
.services {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    align-items: end;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 58%;
    align-self: flex-start;
}
.service-item {
    margin: 10px;
    border-radius: 8px;
    text-align: justify;
    width: 90%;
}
.service-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.service-item p{
    font-size: 19px;
    margin-top: 10px;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;;
}
.service-item .icon {
    font-size: 2em;
}
.service2{
    margin-top: 150px;
}
.image img{
    box-shadow: rgba(255, 251, 251, 0.108) 0px 1px 0px, rgba(255, 251, 251, 0.125) 0px 8px 24px, rgba(255, 251, 251, 0) 0px 16px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 320px;
    border-radius: 3%;
}
#lazer, #estacionamento{
    margin-bottom: 30px;
}

/* footer */
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: white;
    width: 100%;
    color: black;
}

#footer {
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

footer p, footer a {
    font-size: 14px;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #1e90ff;
}

footer a:hover {
    text-decoration: underline;
}


footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}
 
.contato {
    margin-top: 5px;
}

@media (max-width: 768px) {


    #checkbox:checked + #botao + #nav2{
        display: block;
    }

    .container2 {
        flex-direction: column;
        height: auto;
        margin-right: 10%;
    }

    .text-section {
        width: 100%;
        padding: 20px;
    }

    .text-section h1 {
        font-size: 40px; 
        margin-top: 50px;
    }

    .text-section p {
        font-size: 18px;
    }

    .image-section {
        display: none;
    }

    .container_servicos {
        flex-direction: column;
        align-items: center;
    }

    .intro {
        width: 100%; 
        margin-top: 20px;
    }

    .intro-p{
        font-size: 16px;    
    }

    .services {
        grid-template-columns: 1fr; 
        width: 100%;
    }

    .service-item h2 {
        font-size: 1.2em;
    }

    .service-item p {
        font-size: 16px;
    }

    .image img{
        width: 310px;
        height: 280px;
    }

    #footer {
        display: block;
        overflow-wrap: break-word;
        padding: 25px;
    }
    #footer h2{
        font-size: 24px;
    }
    #footer p{
        font-size: 13px;
    }

    #hotel{
        font-size: 35px;
    }

    .flex a{
        margin-top: 10px;
    }
    
    .fa-solid{
        font-size: 55px;
    }
    #nav1{
        display: none;
    }
    nav{
        justify-content:right;
    }
    #user-div{
        margin-right: 20px;
    }
    #opt-sair{
        font-size: 12px;
        width: 30px;
    }
    #botao{
        display: block;
    }
    #checkbox:checked + #botao + #nav2{
        display: block;
    }
    .logo{
        margin-left: 5%;
    }

    .service2{
        margin-top: 0px;
    }
}



