*{
    margin: 0;
    padding: 0;
}

body {
    background: #E5E7EA;
    font-size:x-large;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* fim pagina */
/* cabeçalho */
header {
    background-color: rgba(99, 149, 187, 1);
    color:white;
    padding: 10px;
    text-align: center;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 55px;
    
}
#nav1{
    margin-left: 8%;
    display: flex;
    justify-content: center;
}

nav {
    flex-grow: 1;
    
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 16px;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    margin: 0 3vw;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:rgb(185, 185, 185);
}


#checkbox{
    display: none; /* deixa escondido enquanto a tela é grande */
}

#botao{
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

#nav2{ 
    display: none;
    position: absolute;
 
    background-color: rgba(99, 149, 187, 1);
    top: 70px;
    right: 0;
    width: 200px;
}

section{
    margin: 10px;
}
h1{
    color: #1f1f1f;
    font-family: "Reem Kufi", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    text-shadow: 1px 1px #79B7E6;
}
h2{
    color: #00304D;
    font-family: "Reem Kufi", sans-serif;
    font-size: 60px;
    text-align: center;
}
p{
    font-size: 21px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:450;
    text-align: justify;
    font-style: normal;
    padding: 10px;
    padding-top: 15px;
    color: #2c2b2b;
}
.fundo-texto{
    padding: 10px;
    width: 70vh;
    height: 55vh;
    margin: 0 4vh;   
}

.img{
    width: 73vh;
    height: 60vh;
    transition: transform 0.3s ease;
}
.img:hover{
    transform: scale(1.01);
}
.esquerda{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.direita{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.caixa{
    margin: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
 }
    
#estacionamento p{
    margin-top: 10px;
}
.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    margin-top: 15vh;
    background-color:rgba(99, 149, 187, 1);
    color:white;
    text-align: left;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

footer a{
    text-decoration: none;
    margin-top: 5px;
}

.fa-instagram{
    font-size: 40px;
}
.fa-hotel{
    font-size: 45px;
}
.flex{
    display: flex;
}
.flex a, .flex p{
    margin-left: 10px;
    color:white;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
}
#footerHostCenter a, #footerHostCenter p{
    margin-top: 30px;
}
@media (min-width: 480px) and (max-width: 960px) {
    #nav1{
        display: none;
    }
    #botao{
        display: block;
    }
    #checkbox:checked + #botao + #nav2{
        display: block;
    }
    .logo{
        margin-left: 50%;
    }
    .caixa{
        flex-wrap: wrap;
    }
    .fundo-texto{
        width: 65vh;
        height: 41vh;
        margin: 50px;
    }
    .geral img{
        width: 70vh;
        height: 50vh;

    }
    .geral h2{
        font-size: 45px;
    }
    .geral p{
        font-size: 17px;
        padding-top: 10px;
    }
    footer a, footer p{
        font-size: 15px;
    }
    #hotel{
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 30px;
    }   
    footer p{
        margin-top: 10px;
    }
    .fa-solid{
        font-size: 55px;
    }
}

