* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(246, 242, 242);
}

#conteudo {
    background-color: #fff;
    padding: 30px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    margin: auto; 
    margin-top: 70px;
    margin-bottom: 70px;
}

#conteudo h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
}

#conteudo h2 {
    font-size: 1.5em;
    color: #444;
    margin-top: 20px;
}

#conteudo p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

#conteudo ul {
    margin-left: 20px;
}

#conteudo li {
    margin-bottom: 10px;
}

footer {
    height: 100%;
    background-color: white;
    width: 100%;
    color: black;
}

#footer {
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

footer p, footer a {
    font-size: 14px;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #1e90ff;
}

footer a:hover {
    text-decoration: underline;
}


footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}
 
.contato {
    margin-top: 5px;
}